[2020-05-08 23:23] melissawm opened #2 "Add reviewnb to repo"
[ReviewNB](https://www.reviewnb.com/) is a nice tool for doing smart diffs of Jupyter notebooks, and it is free for open source projects (https://github.com/marketplace/review-notebook-app).

[2020-05-09 08:36] rgommers commented on #2
Done! Let's test it:)

[2020-05-09 08:36] #2 closed

[2020-05-09 08:38] rgommers commented on #2
Some intro email I got from ReviewNB also pointed out https://github.com/reviewNB/treon which looks potentially useful.

[2020-05-09 08:39] rgommers commented on #2
I'll open a new issue for CI

[2020-05-09 08:41] rgommers opened #3 "Add CI job that covers notebook content"
https://github.com/reviewNB/treon could work as the tool to validate notebook, it looks like it has extra features like running examples as doctests that could be useful.

The basic "run a notebook" is `jupyter nbconvert --to notebook --inplace --execute somenotebook.ipynb`.

I don't know what CI setups other projects use.

[2020-06-08 20:38] melissawm opened #4 "Add MyST integration"
At the docs team meeting, we discussed merging the ideas from [this repo](https://github.com/rossbar/sample_notebook_tutorials_site) by @rossbar. This is an improvement in that it has a simple workflow for building and hopefully makes contributions easier.

[2020-06-08 21:04] melissawm opened #5 "Check out online rendering of notebooks (i.e. Binder)"
It's important to make the notebooks easily executable online. It would be preferable to do it via [mybinder.org](https://mybinder.org/) unless there are performance issues (for example, if the notebooks take too long to render).

[2020-06-08 21:08] melissawm opened #6 "Repo name"
The docs team had a discussion about this and figured that we might want to change the repo name so it can also contain how tos, instead of just tutorials. Suggestions included

- `numpy-cookbook`: will this clash with [SciPy Cookbook](https://scipy-cookbook.readthedocs.io/)?
- `numpy-recipes`: this might be an alternative that avoids confusion with the existing `SciPy Cookbook` project.

cc @ross

[2020-06-08 21:51] melissawm opened #7 "Use tags for content info?"
At the very least, I would suggest using tags such as "Beginner", "Intermediate" or "Advanced". I'm not sure those are descriptive enough, or if we should group content in some other way. Thoughts?

[2020-06-09 04:09] rossbar commented on #6
These seem like nice ideas - I don't really have a strong feeling for anything in particular.

Re: the scipy cookbook - it would be nice if we could get some clarity on the status of that project and whether it's actively maintained and, if not, whether more attention would be welcome. There's a whole "chapter" dedicated to NumPy, but (with two exceptions) the "recipes" are over a decade old. That

[2020-06-09 11:58] bjnath opened #9 "Joint cookbook with other scientific Python projects"
In #6  @rossbar writes:

That was my understanding too, from later in the call when we talked about uniting doc efforts in the scientific Python community. @melissawm had the great idea of using SciPy Cookbook as a starting point.

The first step would indeed be to sound out SciPy. We'd propose updating the content, rewriting it as notebooks, and presenting the Cookbook as a joint NumPy/SciPi reso

[2020-06-09 11:59] bjnath commented on #6
@rossbar  That was my understanding too from later in the call when we talked about uniting the doc efforts of at least some of the numeric Python projects.  I've opened issue #9 for this thread.

[2020-06-09 13:55] bjnath commented on #9
We could call the joint site...ReciPy. (Just joking; it needs to be a little more specific.)

(As you might imagine, that name's already occurred to [somebody else](https://github.com/recipy/recipy).)

[2020-06-09 14:54] bjnath commented on #7
Would the labels be only for tutorials or for how-tos as well?

Playing devil's advocate, what happens if we don't have labels?

[2020-06-09 15:02] bjnath commented on #5
I suggest renaming this issue to "Support rendering of notebooks", so we can also discuss features that enable easy downloading to run the notebook locally.

[2020-06-10 13:53] bjnath opened #10 "Make notebooks easily executable"
We agreed at the [8 June 20 doc team meeting](https://hackmd.io/oB_boakvRqKR-_2jRV-Qjg#Notes-from-8-June-20) that interactivity is a vital feature of notebooks.

To ensure this, each tutorial will include:

1. A button to run the notebook in **Binder**
1. Also a button to run the notebook in **Colab**. Although we'd prefer that users choose Binder, Colab runs more quickly. We'd give users a choice

[2020-06-11 08:42] pv commented on #9
FWIW, SciPy Cookbook is already in notebook format. Some of them have "supplementary files", which however should be copypasted into the notebooks. The issue is filtering out or updating content that's no longer relevant (many entries are > 10 years old). If a revised site is created, the Cookbook could as well be retired.

[2020-06-11 18:16] bjnath commented on #9
And it looks like much of that work was done by you! Thank you, and thanks for pointing it out.

[2020-06-27 02:35] rossbar opened #12 "Question: Will the quickstart/absolute beginners tutorial be moved here?"
I was wondering if there was a long-term plan in place to move *all* of the tutorial material to this repo, including the tutorials that are already a part of the official NumPy documentation? I couldn't tell from NEP 44 if there were any concrete plans on this front yet.

[2020-06-27 09:36] rgommers commented on #12
No, that's not the plan. This repo is meant to make it easier to contribute new material, not to move away from Sphinx completely.

[2020-07-04 16:18] melissawm commented on #12
I agree, I think this is meant to host new contributions. On the other hand, if the community thinks having a jupyter notebook version of the Absolute Beginners tutorial here is good, I would not be against it.

[2020-07-06 17:08] cooperrc opened #13 "Framing possible contributions"
In PR #11, @bjnath, @melissawm, and @cooperrc discussed two topics

Topic 1 is covered by PR #11 so I wanted to bring up topic 2 in a separate issue.

My thoughts on framing the contributions would be to provide a checklist (maybe it could be included in the PR for a tutorial or how-to). I am using a scientific document as a template because I think many users are using NumPy in scientific applica

[2020-07-19 19:58] #4 closed

[2020-08-04 22:07] melissawm commented on #5
I think both are covered in #17 .

[2020-08-04 22:09] melissawm commented on #12
I'm closing this as I think the question has been answered, feel free to reopen if necessary.

[2020-08-04 22:09] #12 closed

[2020-08-04 22:11] melissawm opened #18 "Set up gitpod"
After the final format for the repo is decided and merged.

[2020-08-04 22:16] melissawm commented on #13
Hi, @cooperrc . I like the checklist, and I was wondering if we could use these questions/answers to guide the contributor towards the content type they should write, e.g. Tutorial or How-to. Do you think this is useful/possible?

Example: if I answer those questions with, say

- I'm writing for an advanced user
- What they will learn is best practices when using advanced indexing, instead of solv

[2020-08-04 22:19] rossbar commented on #12
Oops, I had forgotten about this -

The main reason I was thinking about this was that it could remove some of the doc-building CI burden from the numpy docs to the numpy-tutorials repo. I had been thinking of setting up the CI to make use of `jupyter-cache` which could then be used to only build notebooks that had been modified in any given PR. There would be an obvious advantage to doing so as t

[2020-08-04 23:21] cooperrc commented on #13
@melissawm that makes sense to me. It seems like we're building a nice definition for our tutorials here. The more I think about it, the more this checklist fits in tutorial space rather than how-to space.

[2020-08-05 01:19] bjnath commented on #13
@melissawm -- I couldn't decide what doc type your three bullets added up to, and then I realized: There is no solution -- the problem is overconstrained.

Use case determines the writing style, and the second bullet makes it a how-to. It's not possible to chose a quadrant and a writing style independently; it's precisely the purpose of the quadrants to lay down the style.

[2020-08-05 08:11] bjnath commented on #13
@cooperrc: For reporting scientific results, IMRaD -- Introduction, Methods, Results, and Discussion -- is valuable standard practice.

That doesn't make it useful everywhere for all kinds of information. It doesn't make it good for weather reports, or broadcasting a  ballgame, or software documentation.

We can't decide whether IMRaD is a tutorial or how-to because it's neither. Scientific papers

[2020-08-05 15:38] cooperrc commented on #13
@bjnath, I'm all for revising the style to fit into the NumPy documentation better. This format is something that works for me when I'm creating tutorials in other software for courses, but I'm sure my students would love if I get some more experience in writing these docs. It may help to reframe the Results&Discussion in a more Documentation vocabulary.

One thing I have been researching and deal

[2020-08-10 21:45] melissawm commented on #13
@cooperrc I agree your checklist goes more in the direction of tutorials. I also agree that a standard scientific report format is not ideal for this repository, but I think we can find a way to organize this.

For the checklist: in my view, "what the reader will learn" and "what the reader will do" should be thought-about together for a tutorial; the main reason for doing anything should be to te

[2020-08-10 23:50] melissawm commented on #3
treon currently does not support pytest; on the other hand, https://nbval.readthedocs.io/en/latest/ seems pretty complete (and in active development). It includes directives to skip the execution of certain cells, and for skipping comparison of specific outputs (such as images) and checking exceptions.

[2020-08-11 18:48] bjnath commented on #13
@cooperrc Thanks for your comments. I have two thoughts:

1. The students are learning through writing; the users are learning through reading. Techniques to maximize a writer's learning won't necessarily maximize a reader's.

2. Knowledge scopes are different. Student writers must go beyond facts to mastery. For tutorial readers, facts often suffice, or even just impressions. Readers of Melissa's

[2020-08-12 17:06] cooperrc commented on #13
I moved "What will you learn" to the Intro check 2 and cleaned up the final wrap-up.

@melissawm, that's a good idea to reorder the list and reduce/combine items, but keep _What you'll learn_ and _Who is this for_ as important questions for the tutorial.

@bjnath, these are excellent points: reading and learning != writing and learning. One of the big benefits I see here is that writers (in my cas

[2020-08-18 22:41] #5 closed

[2020-08-20 16:23] melissawm commented on #10
With the new format for the repository, I think this is more or less solved. The only remaining question is whether we should have a colab link. Personally, I think Binder fits our project better.

[2020-08-20 19:21] melissawm opened #21 "Testing gitpod"
This issue is being used as a test for gitpod integration.

[2020-08-20 22:39] rgommers commented on #10
I agree, I'd prefer to support the community-developed solution here. We don't need GPUs, so Binder fits the need - the slightly faster startup for me is not a good reason to add Colab.

Related: the second tutorial in this repo has "Colab" in the name in the README - that looks weird.

[2020-09-02 19:42] #21 closed

[2020-09-02 19:44] melissawm commented on #18
See the discussion in #20 .

GitHub Codespaces is in beta, and that seems exactly like gitpod, so I might put this off for a while and see if codespaces solves our problem. If it does it's probably better to have a first-party application instead of a third-party one. I'll leave this issue open so we can reevaluate if necessary.

[2020-09-02 19:45] #10 closed

[2020-09-18 21:06] melissawm opened #28 "Add a solution for static versions with the notebooks with outputs."
I'm thinking of setting up a github action with `nbconvert` and having the resulting html output saved in another folder in the repo. That way, we can link directly to those documents or share them externally.

cc @bjnath

[2020-10-07 20:55] #3 closed

[2020-11-09 22:27] melissawm commented on #28
I think this issue has morphed into something else now that #36 has been merged. This will mean rendering the content of the repo through github pages.

cc @rossbar

[2020-11-09 22:28] melissawm opened #40 "Activate CircleCI"
This is a follow-up to #36.

cc @rossbar

[2020-11-09 22:28] melissawm opened #41 "Update existing PRs with new content to use new workflow"
This is a follow-up to #36.

[2020-11-09 22:29] melissawm opened #42 "Reconfigure binder"
After the work of #36 is finished, we should re-add a binder button to the README so people can see live versions of the tutorials.

[2020-11-10 01:21] rossbar commented on #40
Okay, I've deactivated CircleCI on my fork.

Unfortunately I was wrong - I don't have org-wide permissions for numpy on CircleCI, only for `numpy/numpy`.

To activate circleCI for this repo, someone with admin privileges will have to go to: https://app.circleci.com/projects/project-dashboard/github/numpy and click `Follow Project` for `numpy-tutorials`. Ping @mattip @charris , who might have the a

[2020-11-10 04:35] mattip commented on #40
I am not an admin here

[2020-11-10 09:07] rgommers commented on #40
Activated, it's building now: https://app.circleci.com/pipelines/github/numpy/numpy-tutorials/1/workflows/b8f8a6a5-a01c-46a6-addc-dff2f8b89178/jobs/1

[2020-11-10 21:38] rossbar commented on #40
Okay, things should be working now. Configuration has been modified (via the circleci web app) to allow running workflows from other forks so now the build workflow should run when PRs are opened/new pushes.

We still have to add a workflow to deploy the site via `gh-pages`, but that's a separate task.

[2020-11-10 21:38] #40 closed

[2020-11-16 19:00] cooperrc commented on #28
@melissawm and @rossbar, I've been building a jupyter-book page at [engineering-dynamics repo](https://github.com/cooperrc/engineering-dynamics/).

The gh-pages looks really nice and I have configured both binder and a local server to grab notebooks and open in Jupyter. Here is a work-in-progress [example page](https://cooperrc.github.io/engineering-dynamics/module_01/kinematics.html). If this for

[2020-12-02 23:24] rossbar opened #51 "CI: sphinx-build doesn't fail on notebook execution error."
It turns out that execution errors from the `myst-nb` extension only raise sphinx *warnings*, not *errors*, so the `sphinx-build` process is treated as completed successfully even if a notebook was not executed entirely successfully!

There are several ways we could handle this:
 1. Have `sphinx-build` treat warnings as errors with `SPHINXOPTS=-W`
 2. Push for a config option in `myst-nb` to treat

[2020-12-03 14:35] melissawm commented on #51
+1 on nbval - seems to be the best option in terms of features and flexibility.

[2020-12-03 21:44] rossbar commented on #51
I agree, it seems like it would give us an avenue to really beef up testing. I was initially concerned with build times (executing all the notebooks multiple times) but with parallel CI jobs this is less of a concern. It will probably require an additional `.md`->`.ipynb` step for a CI workflow with `nbval`, but that's no big deal. I'm also pursuing option 1 in #52, as I think having a service tha

[2020-12-17 18:25] h2o-DS opened #55 "Proposal: Static Equilibrium with NumPy"
I have made a NumPy tutorial with Ryan Cooper that teaches static equilibrium with NumPy matrix manipulation. This primarily involves beams and cables. The tutorial is ready to be submitted.

[2020-12-18 00:41] rossbar commented on #55
Very cool, thanks @h2o-DS ! If you've already generated the tutorial, please feel free to open a PR so we can take a detailed look :+1:

[2020-12-23 17:21] rossbar opened #57 "ENH: Add author tag to notebooks"
As @8bitmp3 points out [here](https://github.com/numpy/numpy-tutorials/pull/31#issuecomment-750326471), we don't currently have anything indicating the original authorship in the notebooks. We should add this and make sure it's retroactively applied to all the existing tutorials.

[2021-01-04 15:59] melissawm commented on #55
Thank you, @h2o-DS ! I'll take a look at the PR later today - sorry for the delay!

[2021-01-04 19:04] melissawm commented on #57
After discussion today in our Documentation team meeting, here's where we are on this:

- It is helpful to think about attribution here, since even though this is part of an open source project and ownership of any generated work is ultimately given to the community, for large narrative documents it may make sense to give contributors some recognition of the work they are doing.
- The main issue i

[2021-01-04 19:06] melissawm commented on #57
Related discussion: https://github.com/numpy/numpy-tutorials/pull/31#issuecomment-750462841

[2021-01-05 16:01] cooperrc commented on #57
@8bitmp3 brought up a great point on "who do I contact?" For clarification or suggestions.

It looks like as we migrate to the next round of submissions the authorship is preserved. In this way, a user can look at the commit history and find authors/editors that can help.

@rgommers pointed to allcontributors.org as a means to give credit with a bot. Looks nice.

[2021-01-14 21:47] melissawm commented on #57
Hi folks,

Pending further suggestions, I would like to propose that we solve this in the simplest possible way, which is asking the authors to do a trivial commit so they show up in `git blame` as authors of this final commit for each tutorial file. In that case, it will be clear to readers who to contact about it, and we don't risk potential future troubles with author bylines or attribution. If

[2021-02-17 19:17] melissawm commented on #57
I am closing this as it seems we have found a solution - please reopen if you think we still need to discuss this further.

[2021-02-17 19:17] #57 closed

[2021-03-04 22:01] melissawm opened #63 "MNIST dataset can't be downloaded automatically"
We have been getting an error in the CI for the [MNIST tutorial](https://github.com/numpy/numpy-tutorials/blob/master/content/tutorial-deep-learning-on-mnist.md) and I just figured the reason: we are getting a `403 - Forbidden` when we try to download the datasets from the [website listed in the tutorial](http://yann.lecun.com/exdb/mnist/). Checking that website I got a message:

I don't think we

[2021-03-05 22:33] rossbar commented on #63
Agreed - that won't scale as more tutorials+data sources are added. Curating external data sources will be an important improvement for the tutorials. There are things like git LFS, but the [storage and bandwidth quotas are pretty stringent](https://docs.github.com/en/github/managing-large-files/about-storage-and-bandwidth-usage), at least for the free/OSS accounts.

[2021-03-05 23:54] 8bitmp3 commented on #63
Hi @melissawm Thanks for bringing this up. How about this? https://pypi.org/project/mnist/ (https://github.com/datapythonista/mnist) It still relies on http://yann.lecun.com/exdb/mnist/ though but it may fix/bypass the CI error?

[code]

This could also save a lot of lines of code.

Alternatively, we could create/find a GitHub repo that already contains the dataset and load the files from there (c

[2021-03-06 00:12] rossbar commented on #63
It's not a space issue, but a server limiting issue. Typically servers that host data for downloading have limits (based on total bandwidth, number of requests/IP, etc.) to prevent requesters from eating up an inordinate amount of resources from the host. We're clearly exceeding that for the current data source. The solution is to either find or host the data ourselves somewhere with sufficient ca

[2021-03-06 11:49] rgommers commented on #63
How about adding a dependency on scikit-learn here and doing:
[code]

There's no point reinventing this particular wheel.

yes that's necessary for all large datasets

[2021-03-06 18:05] 8bitmp3 commented on #63
Cool, thanks @melissawm @rossbar @rgommers 👍 💯

In the interest of science 🔬  do you mind if I use the `import mnist` (https://pypi.org/project/mnist/) first and see if this returns the same error from the server that hosts `http://yann.lecun.com/exdb/mnist/`?

I've always wanted to keep the tutorial free of any ML-framework—that was the reason why I modified the original code, which used Keras to

[2021-03-06 18:18] rossbar commented on #63
Assuming the necessary data is available, I prefer using scikit-learn as it is a well-established member of the ecosystem.

[2021-03-06 19:23] 8bitmp3 commented on #63
@rossbar True that. Also, it'd be parsing the data from `https://www.openml.org` instead of the "lower-powered" server, which is

<img width="400" alt="image" src="https://user-images.githubusercontent.com/19637339/110218362-61335f80-7eb1-11eb-8455-582bd271bd37.png">

[2021-03-15 15:42] #63 closed

[2021-03-16 05:44] rossbar opened #69 "atari-py dependency doesn't seem maintained"
The reinforcement learning tutorial depends on [atari-py](https://github.com/openai/atari-py) which doesn't seem to be actively maintained (last commit Aug 2019). The README indicates that it's in "maintenance mode" but there haven't been any active developments and the [wheels are out of date](https://pypi.org/project/atari-py/#history). This latter necessitates that wheels be built locally, requ

[2021-03-16 17:22] melissawm commented on #69
Installing `gym[atari]` from pip was enough for me, but maybe this has changed. @8bitmp3 any ideas?

[2021-03-16 17:27] rossbar commented on #69
It will work if you have cmake on your system (at least on *nix platforms). The wheel is being built locally though.

[2021-03-17 21:05] rossbar opened #70 "Update tutorials to use Generator API for random numbers"
The tutorials should be reviewed and updated when necessary to use the "new" (as of 1.17) [random API](https://numpy.org/devdocs/reference/random/index.html).

[2021-03-22 22:12] 8bitmp3 commented on #69
Thanks for bringing this up @rossbar. Is this about `config.yaml`?:

[code]

As @melissawm, `gym[atari]` should be enough to run the Atari simulation (`pip install gym[atari]` (https://github.com/openai/gym, last commit as of today was on Feb 16, 2021)). In the tutorial, we state that the user needs to install `jupyter-book` and `gym[atari]`, so hopefully that's enough for them to try it out.

[2021-03-22 23:45] rossbar commented on #69
`pip install gym[atari]` is just a convenient shorthand for installing both `gym` and `atari-py` (the requirements file is already set up this way), the latter being the problem. `pip install gym[atari]` will still result in the the `atari-py` wheel being built locally.

[2021-03-23 00:13] 8bitmp3 commented on #69
@rossbar Good point. Let's hope the OpenAI team will fix `gym[atari]` if `atari-pi` starts breaking 🤔 A lot reinforcement learning research is probably still being carried out on Atari 2600.

[2021-03-29 20:11] melissawm commented on #41
This is completed.

[2021-03-29 20:11] #41 closed

[2021-03-29 20:11] melissawm commented on #28
I think this is resolved with our current setup.

[2021-04-05 18:28] rossbar commented on #69
See also #72

[2021-04-05 19:11] #42 closed

[2021-04-05 21:37] rossbar commented on #70
Closed by #71

[2021-04-05 21:37] #70 closed

[2021-04-08 10:47] rgommers opened #74 "Weird markup in Pong tutorial cells"
The current version of https://github.com/numpy/numpy-tutorials/blob/main/content/tutorial-deep-reinforcement-learning-with-pong-from-pixels.md has strange markup like this in many places:
[code]

[2021-04-09 16:31] #74 closed

[2021-04-29 19:51] melissawm commented on #55
Closed via #61

[2021-04-29 19:51] #55 closed

[2021-06-07 10:00] rossbar opened #85 "Move style guide into a separate contributors category"
Identified by @rgommers in https://github.com/numpy/numpy-tutorials/pull/81#discussion_r645955648 - it would be an improvement to keep the pedagogical material (i.e. tutorials, how-tos, explanations, etc) separate from info about contributing, e.g. the tutorial style guide.

This would involve a minor reorganization to move the tutorial style guide out of the main toctree and reference it from a "

[2021-06-17 20:11] rossbar opened #87 "atari-py ROM configuration"
The latest atari-py wheels break the pong tutorial with an exception about needing to install/configure appropriate ROMS. This is a known issue: open-ai/atari-py#79. Proposed workaround is to use an older version of atari-py==0.2.5 as suggested [here](https://github.com/openai/atari-py/pull/79#issuecomment-849927798), but this requires local building of the wheels, which is at the core of #69.

In

[2021-06-17 20:12] rossbar commented on #69
The atari-py project is publishing wheels again, though there are new issues as noted in #87. Closing this for now to switch focus to the more relevant issue.

[2021-06-17 20:12] #69 closed

[2021-06-23 20:18] #85 closed

[2021-07-06 16:29] mfouty opened #91 "bython"

[2021-07-06 16:33] #91 closed

[2021-07-17 18:24] MichaelRipa opened #92 "Proposal - Plotting Fractals"
Hi NumPy Devs,

I have mostly finished writing a tutorial called "Plotting Fractals", which teaches the basics of what fractals are and how to begin creating fractal images. I know that there are many fractal tutorials out there, so I tried making mine slightly different and appropriate for NumPy in the following ways:

- I tried explaining what fractals are through demonstration, which I think fl

[2021-07-17 19:12] melissawm commented on #92
Hello, @MichaelRipa !

This sounds great - thanks for offering! Please feel free to submit a PR, and if you need guidance check our [style guide](https://github.com/numpy/numpy-tutorials/blob/main/content/tutorial-style-guide.md). I'm also happy to answer any specific questions you might have.

I might also ask you to give us feedback about our contributing docs - if you find that something is unc

[2021-07-17 21:01] MichaelRipa commented on #92
Thanks a lot for your reply @melissawm !

I'll make sure to thoroughly review the style guide before submitting, and will reach out if I have any questions. Will also provide feedback if I notice anything (I have been nothing but impressed with the contributing docs thus far).

Michael

[2021-08-12 16:45] cooperrc opened #96 "Alt-text sprint 2021-08-21"
This task list was started on 2021-08-21 for an alt-text code sprint. We can check off tutorials as the alt-text is added to the images.

## NumPy Features
- [ ] Linear algebra on n-dimensional arrays
- [ ] Saving and sharing your NumPy arrays
- [ ] Masked Arrays
## NumPy Applications
- [x] Determining Moore’s Law with real data in NumPy
- [x] Deep learning on MNIST
- [ ] Deep reinforcement learni

[2021-08-12 16:47] peytondmurray commented on #96
I'll take x-rays!

[2021-08-12 16:47] meghanrjones commented on #96
I'll add alt text to /content/tutorial-style-guide.md

[2021-08-12 16:50] isabela-pf commented on #96
I'll add alt text to Moore's law!

[2021-08-12 20:07] cooperrc commented on #96
Just submitted PR #100 for the alt-text in the MNIST tutorial.

@isabela-pf, any thoughts on "captioning" matplotlib figures? I used italics, because I use that in technical reports here-and-there, but is there a better/more inclusive caption in-place of alt-text?

[2021-08-13 21:18] peytondmurray commented on #96
Just submitted PR https://github.com/numpy/numpy-tutorials/pull/101 for the x-rays tutorial!

[2021-08-14 16:49] #92 closed

[2021-09-19 17:51] HaoZeke opened #107 "f2py Notebooks [QUESTION]"
Would it make sense to add basic `f2py` notebooks written with [fortran-magic](https://nbviewer.jupyter.org/github/mgaitan/fortran_magic/blob/master/documentation.ipynb)?

[2021-09-20 14:47] melissawm commented on #107
If you want to give it a try, I think having an example of how to integrate fortran code with numpy might be interesting. Not sure if a notebook is the best option, though. Do you have a concrete idea for a document?

[2021-09-20 18:46] HaoZeke commented on #107
I was thinking of demonstrating a simple LAPACK wrapper, but `fortranmagic` works via `numpy.distutils` which we're trying to move away from so I'm not 100% sure it should be done.

[2021-09-27 04:26] gitsava opened #109 "Indonesian translation for the documentation tutorials?"
Can I change or add the language in the existing document toturial to Indonesian? Because I come from Indonesia. Thank you

[2021-09-27 17:08] rgommers commented on #109
Hi @gitsava, thanks for asking! We have started to work on translations, but for the time being those are limited to the https://numpy.org website (see https://github.com/numpy/numpy/wiki/Translations-of-the-NumPy-website). We are not quite ready to start translating tutorials.

[2021-10-18 15:36] Mukulikaa commented on #87
Since `atari-py` has been [deprecated](https://github.com/openai/atari-py#readme), we'll have to switch to [Arcade Learning Environment](https://github.com/mgbellemare/Arcade-Learning-Environment). I think we'll have to import the ROM separately; [it won't be available through `ale-py`](https://github.com/mgbellemare/Arcade-Learning-Environment#rom-management).

[2021-10-20 17:55] Mukulikaa opened #110 "Proposal: Analysis of air pollution levels before and after lockdowns"
Hi all,
I am planning to write a tutorial on the analysis of air pollution levels before and after lockdowns.

### Aim:
Users would hopefully learn about analyzing time-series data with NumPy. It will also increase awareness about pollutants in the air we breathe and show us whether the complete shutdown of human activities in a region has a large enough impact on its air quality.

I am interested

[2021-11-30 18:18] melissawm commented on #87
I did some reading on this and it doesn't seem so trivial, so for now I'm proposing just pinning gym==0.19 (which fixes CI) and leaving this issue open so we can fix this properly in the future.

[2021-11-30 22:26] rossbar commented on #109
I will close this now that the translation policy is explicit in the README (#113).

[2021-11-30 22:26] #109 closed

[2022-01-21 16:52] octopusinvitro opened #117 "The Pong tutorial may have to be updated, as atari-py has been deprecated by Open AI"
The Pong tutorial works with the currently pinned versions of `gym` and `atari-py` in the `requirements.txt` file.
However, `atari-py` (which was the Open AI fork of the ALE), was deprecated in September 2021:
https://github.com/openai/atari-py

The replacement is the original ALE, through the `ale-py` module:
https://github.com/mgbellemare/Arcade-Learning-Environment

In September 2021, `atari-py

[2022-01-24 04:25] rossbar commented on #117
Thanks for the nice summary of the situation and the info about `autorom`. Indeed this looks like a very straightforward fix provided there are no issues with the rom licenses. I haven't had a change to look at that yet, but I agree that needs to be reviewed before we can add it here.

Linking #87 for visibility

[2022-01-24 22:05] octopusinvitro commented on #117
No worries, and thanks for taking a look!

[2022-01-27 17:30] stefanv opened #119 "Module index missing"
See link at bottom of https://numpy.org/numpy-tutorials/

[2022-01-27 17:54] rossbar commented on #119
Thanks @stefanv , all of those links are left over from `sphinx-quickstart` and I don't think any are actually relevant for the tutorials site, so I'd vote to remove them all

[2022-01-27 18:19] #119 closed

[2022-01-28 00:50] #110 closed

[2022-01-28 01:03] rossbar opened #121 "Make sure the `random.Generator` interface is used in all tutorials"
The tutorials should use the recommended `random.Generator` interface for random number generation. A quick `grep` shows that there are some instances of the older usage in the following files:
 - tutorial-nlp-from-scratch.md
 - text_preprocessing.py

It would be a nice improvement to replace these instances with the recommended random interface.

[2022-01-28 10:36] willhoh commented on #121
May I work on that? I used numpy in some tutorials and only in vs-code on simple python files. However, I would like to take on this task to maybe get an introduction to Jupiter Notebooks, but especially to learn how to contribute to open-source software.

[2022-01-28 10:48] Mukulikaa commented on #121
@willhoh, NumPy doesn't assign issues so go ahead! Feel free to ping if you need any help.

[2022-02-02 21:15] #121 closed

[2022-05-16 23:36] bsipocz commented on #51
I get make error locally for a `CellExecutionError`, so this issue is likely resolved now.

[2022-05-17 00:13] bsipocz opened #130 "Consider adding generated content to .gitignore"
So maintainers can add/update them with `--force`, but they won't show up as modified files for random contributors:

[code]

`content/video/` also shows up as untracked files, probably should be added fully to .gitignore?

[2022-05-17 04:58] rossbar commented on #130
In the longer term it might be nice to set up directories where inputs and generated outputs could live (e.g. `data` and `_generated`) and just ignore everything in those folders. However adding these to `.gitignore` would certainly be an improvement :+1: . In fact, it looks like the `mooreslaw` files shouldn't be tracked at all...

[2022-05-17 06:03] bsipocz commented on #130
I've certainly seen arguments for keeping generated outputs around for notebooks that are supposed to run for a longer time, so wasn't sure which case these fall in to act on it.

[2022-05-17 07:14] rossbar commented on #51
I agree that this is was mostly resolved, though the "elevate-all-sphinx-warnings-to-errors" approach certainly has it's drawbacks, especially since the full tracebacks for cell execution failures are not always immediately available (as discussed elsewhere).

We had discussed adding `nbval` to the CI above, which I've taken a stab at in #132. That should be sufficient to fully close this issue fo

[2022-05-24 13:53] bhavukkalra opened #133 "Tutorial Proposal: Implement KNN using numpy."
**Proposal**

This tutorial will cover a specific use case i.e **Implementing KNN using NumPy.**
(KNN - K Nearest Neighbours)

**What will be covered in the Tutorial?**
- KNN Implementation
- Euclidean distance implementation
- Tackling a standard classification problem

**Problem statement used for the Tutorial**

Given four data points for categories Fruit, Protein and Vegetable.
Out of these gi

[2022-06-01 11:46] melissawm commented on #133
Hi @bhavukkalra  - thanks for the proposal!

One thing to note it that our documentation tends to follow (loosely, sometimes) the philosophy of the [Diátaxis framework](https://diataxis.fr) which includes the distinction between tutorials (meant for less experienced users, focused on teaching and best practices, as well as foundational concepts and ideas) and how-to guides (quick and direct guides

[2022-06-12 07:28] bhavukkalra commented on #133
Correct, I might have missed on the terminologies and the subtle difference between a How to and Tutorial. My Intention is of creating a Tutorial only.

Edited the Initial Issue comment to also reflect it.

[2022-06-20 00:23] InessaPawson opened #134 "Clean up the Content section"
This is how the Content section (https://numpy.org/numpy-tutorials/#content) currently renders in Safari and Mozilla.
<img width="831" alt="numpy-tutorials-content" src="https://user-images.githubusercontent.com/43481325/174505966-69edecde-24ad-40a9-9528-1c2a9030928f.png">

[2022-06-24 18:00] #134 closed

[2022-07-12 09:05] rossbar opened #138 "MAINT: Remove explicit sphinx pin from environment.yml"
As of the time of posting, the conda environment resolution is not working properly. I suspect there is a packaging problem w/ dependency pinning on conda-forge (unproven).

This issue is a reminder to periodically remove the pin by reverting #136 in the future to test whether the problem has been fixed upstream. Once the conda CI job is green again without the pin, we can merge the reversion. See

[2022-07-16 06:54] #51 closed

[2022-07-16 06:59] rossbar opened #139 "Improve omission of notebooks from nbval test collection"
There are some notebooks that we don't necessarily want to test when running nbval, e.g. notebooks from the contributor guide, non-executable articles, etc. Currently this is handled manually in the CI job by simply deleting the notebooks we want to test:

https://github.com/numpy/numpy-tutorials/blob/47fb909bbd7777f85d94a37647db4c4dd84f1bdc/.github/workflows/notebooks.yml#L36-L40

This is inelega

[2022-07-16 07:04] rossbar opened #140 "CI: cache data directory in the conda + nbval workflows"
Executing the notebooks in CI for testing results in downloading some datasets. We are already [cacheing this data in the circleCI job](https://github.com/numpy/numpy-tutorials/blob/47fb909bbd7777f85d94a37647db4c4dd84f1bdc/.circleci/config.yml#L26-L44). Data caching should be added to the github workflows as well to prevent unnecessary downloads.

[2022-07-16 07:10] rossbar opened #141 "Add testing configuration for running pytest locally"
#132 added notebook smoketesting with `pytest-nbval` to CI, but didn't add any pytest configuration nor a way to automatically handle installing testing dependencies. Handling this configuration correctly will make it easier for users to smoketest notebooks locally with pytest. #139 is related as it should also be handled via pytest config. One idea would be to use `tox.ini` - see https://github.c

[2022-07-16 07:18] rossbar opened #142 "CI: Add windows to pytest-nbval workflow"
It'd be nice to add explicit testing on windows for the pytest-nbval CI workflows:

https://github.com/numpy/numpy-tutorials/blob/47fb909bbd7777f85d94a37647db4c4dd84f1bdc/.github/workflows/notebooks.yml#L17

I think this should mostly be a matter of adding conditional steps to the workflow where windows-specific CLI syntax is required.

[2022-09-26 12:54] NiuJun-1015 opened #149 "Issue on page /index.html"
when I run my script, the error comes up, does Numpy 1.22.3 is not compatible for the previous vesion.(the script can work with numpy 1.21.5)

PS E:\Revo3.0\Py_Revo3.0\py_scripts> & E:/anaconda3/envs/myenv/python.exe e:/Revo3.0/Py_Revo3.0/py_scripts/Spotfire_IFR90_Parse_grpby.py
E:\anaconda3\envs\myenv\Lib\site-packages\numpy\__init__.py:142: UserWarning: mkl-service package failed to import, ther

[2022-09-27 01:28] rossbar commented on #149
This looks like an installation issue on windows - the traceback is pretty clear that it's an issue initializing mkl.

It's not clear to me how this was hit by the tutorials though... the traceback starts Python scripts that are unrelated to the tutorials. Did you perhaps intend to open this issue elsewhere? What set of commands gave you this error?

[2022-10-04 19:19] InessaPawson opened #150 "Storing data sets used in the tutorials"
Document what options were considered for storing data sets used in the NumPy tutorials and why GitHub was selected as the optimal (interim) solution.

[2022-10-04 19:50] InessaPawson commented on #18
@melissawm Now that we have access to Codespaces, shall we give it another go ?

[2022-10-04 21:18] rossbar commented on #18
One of the main questions from me re: gitpod/codespaces is what is the end-goal of having a development environment for the `numpy-tutorials` repo? If it's to interactively edit the notebooks themselves, I think users would be better off using binder/jupyterhub, since those services are better suited for this use-case. If the end-goal is to make it easier for users to contribute their notebooks, t

[2022-10-04 22:13] rossbar commented on #149
I'm almost certain this is an env/installation issue, not something having to do with the tutorials specifically, therefore I will close this one.

@NiuJun-1015 if you are still having problems and think it's related to building the site, please feel free to reopen and provide additional info on 1) how you set up your environment and 2) what commands you used to trigger the above error.

[2022-10-04 22:13] #149 closed

[2022-11-01 10:48] seberg opened #152 "Air pollution tutorial should show path to "vectorization""
The air polution tutorial has a "vectorized" function to calculte the AIQ (IIRC).  This can be vectorized using `searchsorted` (which is a bit much work, but not too tricky).
I am also almost completely certain that it can also be replaced with a single call to `np.interp1d`.

Having the "vectorize" version seems good, but doesn't fully leverage the concepts that NumPy provides.  I think it would

[2022-11-17 20:37] bsipocz opened #154 "Fail CI for warnings"
Ideally we should handle warnings raised during the tutorials, and fail CI with anything that is unexpected.

[2022-11-17 22:44] bsipocz opened #156 "CI: add a linkchecker job"

[2022-11-18 03:55] rossbar opened #157 "Use Polynomial.fit instead of statsmodels for linear regression in Moore's law tutorial"
I propose to replace the `statsmodels` usage with NumPy fitting functionality in the Moore's law tutorial. There's nothing wrong with the current approach, but this is a nice opportunity to highlight the fitting functionality within numpy itself for such a simple model.

[2022-11-18 05:00] rossbar commented on #154
Good point! I though we had this covered with the `-W` option for sphinx-build, but it turns out that doesn't extend to warnings raised *during notebook execution*.

[2022-11-18 05:11] bsipocz commented on #154
yep, the code content and rendering are handled separately.

You can assign this to me, though I'm not sure when I get to actually do something about it.

[2022-11-18 05:16] rossbar commented on #154
Of course - feel free! I also opened executablebooks/MyST-NB#459 about this as I couldn't find a good way to handle this at the config-level.

[2022-11-18 05:37] bsipocz commented on #154
I can't do that ;)

Ideally, a standard pytest config should do the trick, but f course it doesn't work out of the box :(